body {
  background-color: var(--lb-100);
  margin: 16px;
}

main {
  min-height: 90vh;
  margin-top: 56px;
}

.input-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80vh;
}

#uncrypted-text {
  background: none;
  font-size: 3.2rem;
  font-family: "Inter", sans-serif;
  color: var(--db-300);
}

#uncrypted-text::placeholder {
  color: var(--db-300);
}

span {
  color: var(--gray-400);
  font-size: 1.2rem;
  margin-bottom: 16px;
}

.btn-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

button {
  height: 67px;
  text-align: center;
  border-radius: 24px;
  font-size: 1.6rem;
  font-weight: bold;
}

#encrypt-btn {
  background-color: var(--db-300);
  color: white;
}

#decrypt-btn {
  background: none;
  color: var(--db-300);
  border: solid 1px var(--db-300);
}

.result-section {
  display: flex;
  background-color: white;
  text-align: center;
  border-radius: 32px;
  padding: 32px;
  height: 100%;
  margin-top: 64px;
  filter: drop-shadow(0px 24px 32px var(--gray-100));
}

.no-result h3 {
  font-size: 2.4rem;
  color: var(--gray-500);
  padding-bottom: 16px;
}

.no-result p {
  font-size: 1.6rem;
  color: var(--gray-400);
}

.no-result img {
  display: none;
}

.show-result {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.show-result p {
  font-size: 2.4rem;
  color: var(--gray-400);
  text-align: left;
  word-break: break-all;
}

#copy-btn {
  width: 100%;
  color: var(--db-300);
  background: none;
  border: solid 1px var(--db-300);
  margin-top: 32px;
}

@media screen and (min-width: 768px) {
  .btn-wrapper {
    flex-direction: row;
  }

  button {
    width: 50%;
  }

  .result-section {
    justify-content: center;
  }
}

@media screen and (min-width: 1440px) {
  header {
    margin: 20px 0px 0px 20px;
  }

  main {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;
  }

  .input-section {
    width: 70%;
    padding-left: 240px;
    padding-right: 80px;
    margin-top: 80px;
  }

  .result-section {
    min-height: 80vh;
    margin-top: 0;
  }

  .no-result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .no-result img {
    display: block;
  }
}

.hidden {
  display: none;
}
